*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glitch{
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 1;
}

.content{
    position: relative;
    z-index: 2; 
    /* background: #000; */
    width: 95vw;
    padding: 20px;
    height: auto;
    min-height: 70%;

    /* top: 10%;
    left: 10%; */

    color: white;
    font-size: 34px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.admin-header{
    position: relative;
}

.plus-btn{
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48  !important;   /* icon optical size */
    font-size: 48px  !important; /* final rendered size */

    position: absolute;
    left: 180px;
    top: 0px;
    cursor: pointer;
    
    transition: transform 0.2s !important;
}

.plus-btn:hover {
    color: white; 
    transform: scale(1.2) !important;
    color: blue !important; 
}

.admin-head{
    margin-bottom: 30px;
}

table td{
    font-size: 20px;
}

.table-scroll {
    max-height: 400px;    /* adjust height as you want */
    overflow-y: auto;
    overflow-x: hidden;   /* keep horizontal clean */
}

/* Fix table header staying on top */
.table-scroll thead th {
    position: sticky;
    top: 0;
    background-color: #212529; /* same as dark table */
    /* z-index: 10; */
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,   /* 0 = outline, 1 = filled */
    'wght' 400, /* weight */
    'GRAD' 0,
    'opsz' 24;  /* icon size */
  font-size: 24px;
  color: white;
  transition: transform 0.2s;
}

.material-symbols-outlined:hover {
  transform: scale(1.1);
  
}

#edit-btn {
    margin-right: 15px;
}

#edit-btn:hover {
    color: #198754; /* green color for edit button on hover */
}

#delete-btn:hover{
    color: #dc3545; /* red color for delete button on hover */
}


.addpopup-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.874);
    height: 70%;
    width: 50%;
    padding: 30px;
    border-radius: 60px;
}

.addpopup-heading{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 30px;
}

.proj-inp{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.modal-inps{
    height: 40px;
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.modal-inps:focus{
    outline: none;
    box-shadow: 2px 2px 2px white;
}

.modal-inps::placeholder{
    font-size: 20px;
    color: rgb(63, 60, 60);
}

.close-btn{
    background-color: red;
    font-size: 20px;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}

.submit-btn{
    background-color: green;
    font-size: 20px;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}

.deletepopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.874);
    height: 50%;
    width: 50%;
    padding: 30px;
    border-radius: 60px;
}

.del-head{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 30px;
}

.del-para{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 60px;
}

.deleteBTN{
    background-color: red;
    font-size: 20px;
    color: white;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}

.cancelBTN{
    background-color: gray;
    font-size: 20px;
    color: white;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}


.editpopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.874);
    height: 70%;
    width: 50%;
    padding: 30px;
    border-radius: 60px;
}

.edit-head{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 50px;
}

.update-modal-inps{
    height: 40px;
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.update-modal-inps:focus{
    outline: none;
    box-shadow: 2px 2px 2px white;
}

.update-modal-inps::placeholder{
    font-size: 20px;
    color: rgb(63, 60, 60);
}

.edit-popup-buttons{
    margin-top: 60px;
}

.editBTN{
    background-color: green;
    font-size: 20px;
    color: white;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}

.cancel-btn{
    background-color: gray;
    font-size: 20px;
    color: white;
    border: none;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 50px;
}


.logout-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    top: 99%;
}