*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.438); /* adjust opacity */
  z-index: 0;
}


#bgimg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


#logo{
    position: absolute;
    top: 10px;
    left: 30px;
    height: 100px;
    border-radius: 100%;
}

#heading{
    position: absolute;
    top: 20%;
    font-size: 100px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.my-btns{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    align-items: flex-start;
    gap: 50px;
    z-index: 10;
}

.my-btn img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.my-btn img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.labels{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.my-btn-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}