*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.chatb-container{
    overflow-x: hidden;
}

.navbar{
    width: 100vw;
    height: auto;
    /* background-color: black; */
    padding: 20px 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: transparent;
    background-image: linear-gradient(60deg , #000000, rgb(204, 37, 37) ,#ff001e);
    background-clip: text;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-head{
    font-size: 80px;
}

.bg-img{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.input-box{
    position: absolute;
    top: 92%;
    width: 70vw;
    height: 50px;
    background-color: transparent;
    color: rgb(167, 155, 155);
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid ivory;
    border-radius: 10px;
}

.input-box:focus{
    border: 1px solid ivory;
    border-radius: 10px;
}

.input-box::placeholder{
    color: rgb(120, 114, 114);
    font-size: 20px;
}

.send-btn{
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    top: 92.7%;
    right: 16%;
}


.msg-container{
    /* background-color: blue; */
    width: 60vw;
    position: absolute;
    bottom: 23%;
    left: 20%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 50vh;
    overflow-y: auto;
}

.user-msg{
    color: rgb(50, 48, 48);
    background-color: palegoldenrod;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 16px 16px 2px 16px;
    margin-bottom: 20px;
    margin-left: auto;
}

.bot-msg{
    color: palegoldenrod;
    background-color: rgb(50, 48, 48);
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 16px 16px 16px 2px;
    margin-bottom: 20px;
}